/* Sylesheet for Logo component */
@font-face {
  font-family: 'kamikaze-italic';
  src: url('fonts/kamikaze-italic.eot');
  src: url('fonts/kamikaze-italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/kamikaze-italic.woff') format('woff'),
        url('fonts/kamikaze-italic.ttf') format('truetype'),
        url('fonts/kamikaze-italic.svg#adlerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#wrapper {
  max-width: 75%; /*to adjust the size of the logo*/
  margin: auto; /*to center on the screen*/
}

#motto {
  animation: myMotto-visible 0s 3s forwards;
  -webkit-animation: myMotto-visible 0s 3s forwards;
  -moz-animation: myMotto-visible 0s 3s forwards;
  visibility: hidden;
}

#enso {
  stroke: #c4cc65;
  stroke-width: 1;
  fill: #c4cc65;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

#enso {
  /* cubic-bezier(.33,.07,.69,.93)  ---- 2.5s .3s cubic-bezier(.17,.37,.43,.67) */
  animation: spin_anticlock 2.5s cubic-bezier(.23,.33,.55,.55) 1,
  fadeout 2.5s linear 1;
  -webkit-animation: spin_anticlock 2.5s cubic-bezier(.23,.33,.55,.55) 1,
  fadeout 2.5s linear 1;
  -moz-animation: spin_anticlock 2.5s cubic-bezier(.23,.33,.55,.55) 1,
  fadeout 2.5s linear 1;
}

@Keyframes fadeout {
  0%  { opacity: 0; }
  25%  { opacity: .25; }
  50%  { opacity: .5; }
  75%  { opacity: .75; }
  100%  { opacity: 1; }
}
@-webkit-Keyframes fadeout {
  0%  { opacity: 0; }
  25%  { opacity: .25; }
  50%  { opacity: .5; }
  75%  { opacity: .75; }
  100%  { opacity: 1; }
}
@-moz-Keyframes fadeout {
  0%  { opacity: 0; }
  25%  { opacity: .25; }
  50%  { opacity: .5; }
  75%  { opacity: .75; }
  100%  { opacity: 1; }
}


@keyframes myMotto-visible {
  to   { visibility: visible; }
}
@-webkit-keyframes myMotto-visible {
  to   { visibility: visible; }
}
@-moz-keyframes myMotto-visible {
  to   { visibility: visible; }
}

@keyframes spin_anticlock {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}
@-webkit-keyframes spin_anticlock {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}
@-moz-keyframes spin_anticlock {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}
